wrap: https://s3-us-west-2.amazonaws.com/wrap.hookem.com/minimalistwrap-081815.html

namespace: 'cmg-wrap-aas'

scripts:
  blacklist:
  - 'common/premium/js/bootstrap-transition.js'
  - 'common/premium/js/bootstrap-modalmanager.js'
  - 'common/premium/js/bootstrap-modal-ext.js'
  - 'common/premium/js/bootstrap-dropdown.js'
  - 'common/premium/js/bootstrap-collapse.js'
  - 'www.googletagservices.com/tag/js/gpt.js'
  - 'var googletag = googletag || {},'
  - 'common/premium/js/cmg-header.js'
  - 'common/premium/js/jquery.placeholder.min.js'
  - 'common/lib/lazythumbs/js/lazythumbs.js'
  - 'common/javascript/writeCapture.js'
  - 'common/javascript/jquery.writeCapture.js'

markup:
  # Janraid markup
  - '#flatpage_frame'
  - '#returnSocial'
  - '#returnTraditional'
  - '#socialRegistration'
  - '#traditionalRegistration'
  - '#traditionalRegistrationBlank'
  - '#registrationSuccess'
  - '#registrationSuccessConfirmed'
  - '#forgotPassword'
  - '#forgotPasswordSuccess'
  - '#mergeAccounts'
  - '#traditionalAuthenticateMerge'
  - '#resendVerification'
  - '#resendVerificationSuccess'
  # Not in the CMG docs, but required
  - '#signIn'

s3:
  bucket: 'wrap.hookem.com.s3-website-us-west-2.amazonaws.com'
  id: ''
  key: ''