wrap: http://www.mystatesman.com/api/wraps/v1/wrap/1487/?format=html

scripts:
  - src: 'head script'
    dest: 'bundled/js/head.js'
  - src: 'body script'
    dest: 'bundled/js/body.js'

markup:
  # Janraid markup
  - '#flatpage_frame'
  - '#returnSocial'
  - '#returnTraditional'
  - '#socialRegistration'
  - '#traditionalRegistration'
  - '#traditionalRegistrationBlank'
  - '#registrationSuccess'
  - '#registrationSuccessConfirmed'
  - '#forgotPassword'
  - '#forgotPasswordSuccess'
  - '#mergeAccounts'
  - '#traditionalAuthenticateMerge'
  - '#resendVerification'
  - '#resendVerificationSuccess'
  # Not in the CMG docs, but required
  - '#signIn'

s3:
  bucket: 'wrap.hookem.com.s3-website-us-west-2.amazonaws.com'
  id: ''
  key: ''