wrap: https://s3-us-west-2.amazonaws.com/wrap.hookem.com/minimalistwrap-081815.html

namespace: 'cmg-wrap-aas'

scripts:
  - src: 'script'
    dest: 'js/scripts.js'

markup:
  # Janraid markup
  - '#flatpage_frame'
  - '#returnSocial'
  - '#returnTraditional'
  - '#socialRegistration'
  - '#traditionalRegistration'
  - '#traditionalRegistrationBlank'
  - '#registrationSuccess'
  - '#registrationSuccessConfirmed'
  - '#forgotPassword'
  - '#forgotPasswordSuccess'
  - '#mergeAccounts'
  - '#traditionalAuthenticateMerge'
  - '#resendVerification'
  - '#resendVerificationSuccess'
  # Not in the CMG docs, but required
  - '#signIn'

s3:
  bucket: 'wrap.hookem.com.s3-website-us-west-2.amazonaws.com'
  id: ''
  key: ''