#cmg-wrap-aas .header .header-logo {
  box-sizing: content-box;
}
#cmg-wrap-aas .header a {
  color: transparent;
}
#cmg-wrap-aas .header .right .header-text:hover {
  border-color: transparent;
}
#cmg-wrap-aas .section-navigation {
  position: fixed;
  top: 42px;
}
#cmg-wrap-aas .section-header {
  display: none;
}
#cmg-wrap-aas #story-body .premium-content .story .section-title {
  margin-top: 0px;
}
#cmg-wrap-aas a {
  text-decoration: none;
}
#cmg-wrap-aas #flatpage_frame {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
#cmg-wrap-aas .janusNotAuthorized {
  display: inline-block;
}
#cmg-wrap-aas .flatpage_invitation_chunk {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-image: url("http://media.cmgdigital.com/shared/media/2015-05-18-13-31-16/web/common/images/paywall/paywall-background.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin: 20px 0;
  background-position: center center;
}
#cmg-wrap-aas .cmPremiumWrap {
  border: 1px solid #0163ac;
  padding: 2px;
  margin: 20px 0;
}
#cmg-wrap-aas .flatpage_invitation_chunk .cmPremiumWrap {
  margin: 12px auto;
  width: 431px;
}
#cmg-wrap-aas .flatpage_invitation_chunk .janusNotAuthorized {
  display: block;
}
#cmg-wrap-aas .cmPremium {
  border: 2px solid #0163ac;
  background: #fff;
}
#cmg-wrap-aas .cmPremium .cmPremiumOption {
  padding: 10px;
}
#cmg-wrap-aas .cmPremium .cmPremiumOption .description {
  float: left;
  width: 60%;
  padding: 0;
}
#cmg-wrap-aas .cmPremium .cmPremiumOption.cmPass img {
  float: left;
  padding-right: 10px;
}
#cmg-wrap-aas .cmPremium .description {
  padding: 0 20px 12px 18px;
  width: auto;
  float: none;
}
#cmg-wrap-aas .cmPremium .cmPremiumHeader {
  padding: 12px 12px 0 18px;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  color: #000;
}
#cmg-wrap-aas .cmPremium .cmPremiumButton {
  display: block;
  width: 132px;
  float: right;
  margin-left: 10px;
  padding: 6px 0;
  background: #003f74;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004276), to(#0066b0));
  background: -webkit-linear-gradient(top, #0066b0, #004276);
  background: -moz-linear-gradient(top, #0066b0, #004276);
  background: -ms-linear-gradient(top, #0066b0, #004276);
  background: -o-linear-gradient(top, #0066b0, #004276);
  color: #fff;
  border: 1px solid #00009c;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#cmg-wrap-aas .cmPremium .cmPremiumOption.cmPass .cmPremiumButton {
  background: #19612c;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2d952f), to(#19612c));
  background: -webkit-linear-gradient(top, #2d952f, #19612c);
  background: -moz-linear-gradient(top, #2d952f, #19612c);
  background: -ms-linear-gradient(top, #2d952f, #19612c);
  background: -o-linear-gradient(top, #2d952f, #19612c);
}
#cmg-wrap-aas a.cmPremiumButton:hover {
  text-decoration: none;
}
#cmg-wrap-aas .cmPremiumDivider {
  border-top: 2px dotted #ccc;
}
#cmg-wrap-aas .cmPremium .advertisements {
  padding: 20px 0;
  border-top: 2px dotted #ccc;
}
#cmg-wrap-aas .cmPremium .advertisements a,
#cmg-wrap-aas .cmPremium .advertisements span {
  display: block;
  float: left;
  padding: 0 10px 0 18px;
  font-size: 11px;
  color: #666;
  text-transform: none;
}
#cmg-wrap-aas .cmPremium .advertisements img {
  height: 32px;
}
#cmg-wrap-aas .clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
#cmg-wrap-aas * html.clearfix {
  height: 1%;
}
#cmg-wrap-aas .clearfix {
  display: block;
}
#cmg-wrap-aas .roadblock {
  padding: 0;
  border: 0;
}
@media (max-width: 599px) {
  #cmg-wrap-aas .cmPremium .cmPremiumOption .description {
    width: 65%;
  }
  #cmg-wrap-aas .flatpage_invitation_chunk .cmPremiumWrap {
    width: 90%;
  }
}
@media (max-width: 481px) {
  #cmg-wrap-aas .cmPremium .cmPremiumOption .description {
    display: block;
    width: auto;
    float: none;
  }
  #cmg-wrap-aas .cmPremium .cmPremiumOption.cmPass .description {
    display: block;
    width: auto;
    float: none;
  }
  #cmg-wrap-aas .cmPremium .cmPremiumButton {
    float: none;
    clear: left;
    margin: 5px auto;
  }
  #cmg-wrap-aas .cmPremium .advertisements a,
  #cmg-wrap-aas .cmPremium .advertisements span {
    padding: 0 10px;
  }
}
/********** Begin custom overrides **********/
.roadblocked {
  /*.premium-content {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    z-index: -1;
    position: relative;
  }*/
}
/*
#@{namespace} {
  // Custom styles here
}
*/
.pq-modal-content {
  display: none;
}
.pq-modal-content .pq-modal-screen {
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.pq-modal-content .pq-modal-wrap-container {
  width: 100%;
  position: fixed;
  z-index: 1001;
}
.pq-modal-content .pq-modal-wrap-container.pq-modal-roadblock-container {
  top: 11%;
}
.pq-modal-content .pq-modal-wrap-container.pq-modal-welcome-container {
  top: 23%;
}
.pq-fixed-janrain-modal {
  position: fixed !important;
  top: 50% !important;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.pq-modal-sticky {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  bottom: 0;
}
/* Global Access Meter modal styles */
.pq-access-meter-modal {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  box-shadow: -5px 3px 36px 0px rgba(0, 0, 0, 0.75);
}
.pq-access-meter-modal * {
  margin: 0;
}
.pq-access-meter-modal a:focus,
.pq-access-meter-modal a:active,
.pq-access-meter-modal a:hover {
  text-decoration: none;
}
.pq-access-meter-modal .pq-access-meter-btn {
  padding: 13px 35px;
  font: 14px 'Oswald', sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #006cb8;
}
.pq-access-meter-modal .pq-access-meter-btn sup {
  font-size: 9px;
}
.pq-access-meter-modal .pq-access-meter-btn:hover {
  color: #fff;
}
.pq-access-meter-modal .pq-access-meter-link {
  font-size: 10px;
  color: #fff;
  text-decoration: underline;
}
.pq-access-meter-modal .pq-access-meter-link:focus,
.pq-access-meter-modal .pq-access-meter-link:active,
.pq-access-meter-modal .pq-access-meter-link:hover {
  color: #fff;
}
.pq-access-meter-modal .pq-access-welcome-header {
  height: 50px;
  background: #fff;
  box-shadow: inset 0px 4px 30px rgba(40, 40, 40, 0.38);
}
.pq-access-meter-modal .pq-access-welcome-header .pq-access-welcome-logo {
  margin-top: 12px;
  max-width: 95%;
  height: 24px;
}
.pq-access-meter-modal .pq-access-meter-close {
  font-size: 22px;
  line-height: normal;
  text-decoration: none;
}
/* Access Meter welcome */
.pq-access-meter-modal-welcome {
  max-width: 786px;
}
.pq-access-meter-modal-welcome .pq-access-welcome-header {
  padding: 0 45px;
}
.pq-access-meter-modal-welcome .pq-access-body {
  position: relative;
  padding: 45px 45px 40px 45px;
  background: #252222;
  color: #fff;
}
.pq-access-meter-modal-welcome .pq-access-body .pq-access-meter-close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
}
.pq-access-meter-modal-welcome .pq-access-body .pq-access-meter-close:focus,
.pq-access-meter-modal-welcome .pq-access-body .pq-access-meter-close:active,
.pq-access-meter-modal-welcome .pq-access-body .pq-access-meter-close:hover {
  color: #fff;
}
.pq-access-meter-modal-welcome .pq-access-body > h1 {
  margin-bottom: 30px;
  line-height: normal;
}
.pq-access-meter-modal-welcome .pq-access-body > p {
  line-height: normal;
  font-size: 22px;
}
.pq-access-meter-modal-welcome .pq-access-body > p:first-of-type {
  margin-bottom: 30px;
}
.pq-access-meter-modal-welcome .pq-access-body .pq-access-footer {
  padding-top: 45px;
  text-align: center;
}
.pq-access-meter-modal-welcome .pq-access-body .pq-access-footer .pq-access-meter-btn {
  display: inline-block;
  margin-bottom: 35px;
}
.pq-access-meter-modal-welcome .pq-access-body .pq-access-footer .pq-access-meter-link {
  display: block;
}
/* Access Meter count */
.pq-access-meter-modal-count {
  max-width: 527px;
}
.pq-access-meter-modal-count .pq-access-welcome-header {
  position: relative;
  padding: 0 20px;
}
.pq-access-meter-modal-count .pq-access-welcome-header .pq-access-meter-close {
  position: absolute;
  right: 20px;
  line-height: 50px;
  color: #000;
}
.pq-access-meter-modal-count .pq-access-body {
  padding: 20px;
  background: #252222;
  color: #fff;
}
.pq-access-meter-modal-count .pq-access-body > h1 {
  margin-bottom: 15px;
  line-height: normal;
  font-size: 16px;
}
.pq-access-meter-modal-count .pq-access-body > p {
  margin-bottom: 0;
  font-size: 14px;
}
.pq-access-meter-modal-count .pq-access-body .pq-access-footer {
  height: 47px;
  padding-top: 25px;
}
.pq-access-meter-modal-count .pq-access-body .pq-access-footer .pq-access-meter-btn {
  float: right;
}
.pq-access-meter-modal-count .pq-access-body .pq-access-footer .pq-access-meter-link {
  line-height: 47px;
}
/* Access Meter limit */
.pq-access-meter-modal-limit {
  max-width: 527px;
}
.pq-access-meter-modal-limit .pq-access-limit-header {
  padding: 29px 38px;
  background: #252222;
  color: #fff;
}
.pq-access-meter-modal-limit .pq-access-limit-header p {
  margin-bottom: 48px;
  font-size: 18px;
  text-align: center;
}
.pq-access-meter-modal-limit .pq-access-limit-header h2 {
  margin-bottom: 29px;
  font-size: 36px;
  line-height: normal;
}
.pq-access-meter-modal-limit .pq-access-limit-header h5 {
  font-size: 22px;
  font-weight: normal;
}
.pq-access-meter-modal-limit .pq-access-limit-body {
  padding: 23px 0;
  background: #fff;
  background: -moz-linear-gradient(top, #b2b2b2 62.5%, #ffffff 62.5%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62.5%, #b2b2b2), color-stop(62.5%, #ffffff));
  background: -webkit-linear-gradient(top, #b2b2b2 62.5%, #ffffff 62.5%);
  background: -o-linear-gradient(top, #b2b2b2 62.5%, #ffffff 62.5%);
  background: -ms-linear-gradient(top, #b2b2b2 62.5%, #ffffff 62.5%);
  background: linear-gradient(to bottom, #b2b2b2 62.5%, #ffffff 62.5%);
}
.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-hero-head {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-hero {
  width: 100%;
  height: 221px;
  background: url(../images/modal-access-limit-hero-ajc.png) no-repeat center 0;
  background-size: contain;
}
.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-reasons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 38px;
  list-style: none;
}
.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-reasons li {
  width: 90px;
  font: bold 11px / normal Arial, sans-serif;
  text-align: center;
}
.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-reasons li:last-child {
  width: 75px;
}
.pq-access-meter-modal-limit .pq-access-limit-footer {
  height: 93px;
  padding: 0 38px;
  background: #252222;
}
.pq-access-meter-modal-limit .pq-access-limit-footer .pq-access-meter-link {
  line-height: 93px;
}
.pq-access-meter-modal-limit .pq-access-limit-footer .pq-access-meter-btn {
  position: relative;
  top: 50%;
  float: right;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* MEDIA QUERIES */
@media (max-width: 414px), (max-height: 764px) {
  .pq-access-meter-modal {
    /* Access Meter welcome */
    /* /Access Meter welcome */
    /* Access Meter limit */
    /* /Access Meter limit */
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-welcome-header {
    padding: 0 15px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-body {
    padding: 15px 15px 20px 15px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-body > h1 {
    margin-bottom: 15px;
    padding-right: 20px;
    font-size: 26px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-body > p {
    font-size: 18px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-body > p:first-of-type {
    margin-bottom: 20px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-body .pq-access-footer {
    padding-top: 30px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-welcome .pq-access-body .pq-access-footer .pq-access-btn {
    margin-bottom: 25px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-header {
    padding: 25px 19px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-header p {
    margin-bottom: 24px;
    text-align: left;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-header h2 {
    margin-bottom: 18px;
    font-size: 22px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-header h5 {
    font-size: 18px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-body {
    padding: 10px 0;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-hero-head {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-hero {
    height: 150px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-body .pq-access-limit-reasons {
    padding: 0 15px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-footer {
    height: 73px;
    padding: 0 19px;
  }
  .pq-access-meter-modal.pq-access-meter-modal-limit .pq-access-limit-footer .pq-access-meter-link {
    line-height: 73px;
  }
}
@media (max-width: 320px), (max-height: 568px) {
  .pq-modal-content .pq-modal-wrap-container.pq-modal-roadblock-container,
  .pq-modal-content .pq-modal-wrap-container.pq-modal-welcome-container {
    top: 0;
  }
  .pq-modal-content .pq-modal-wrap-container .pq-access-limit-body .pq-access-limit-hero {
    height: 115px;
    margin-bottom: -10px;
  }
  .pq-modal-content .pq-modal-wrap-container .pq-access-limit-body .pq-access-limit-reasons {
    padding: 0;
  }
  .pq-modal-content .pq-modal-wrap-container .pq-access-limit-body .pq-access-limit-reasons li {
    font-size: 10px;
  }
  .pq-modal-content .pq-modal-wrap-container .pq-access-limit-body .pq-access-limit-reasons li:last-child {
    width: 70px;
  }
}
@media (max-height: 400px) {
  .pq-modal-content .pq-modal-wrap-container {
    position: absolute;
  }
}
